<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARZrzad3uwVs-5L9OcW0Xu_3NgFrilPTI</string>
	<key>GCM_SENDER_ID</key>
	<string>818553600955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soomsoom.app</string>
	<key>PROJECT_ID</key>
	<string>soomsoom-a3dad</string>
	<key>STORAGE_BUCKET</key>
	<string>soomsoom-a3dad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818553600955:ios:ca4109283ed53812ea229e</string>
</dict>
</plist>